* {
    margin: 0px;
}

body {
    background-image: url('../img/fondo1.jpg');
    font-family: 'Just Another Hand', cursive;
    font-size: 30px;
    height: 100%;
}

.init, .falla, .ganador {
    background: white;
    max-width: 400px;
    height: 400px;
    border: 6px solid black;
    border-radius:20px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#noName {
    color: red;
}

.init img, .falla img, .ganador img {
    border-radius: 9px;
}

.carta {
    transition: all 600ms ease;
}

.carta img {
    border: 2px solid black;
    border-radius: 10px;
    width: 150px;
    height: 150px;
}

.rotate-card {
     transform: rotateY(180deg);
 }

.boton {
    text-decoration: none;
    border: none;
    border-radius: 15px;
    color:black;
    padding: 7px 12px;
    cursor: pointer;
    font-size: 25px;
    background: linear-gradient(to left,#f4f127 ,#f7f588);
    font-family: 'Just Another Hand', cursive;
    backface-visibility: hidden;
}

.boton:focus {
    outline: none;
}

input:focus {
    background: lightgrey;
    outline: none;
}

#newPlay {
    position: relative;
    bottom: 60px;
}

#rePlay {
    position: absolute;
    right: 30px;
    bottom: 66px;
}

.tablero {
    background:#f7bbe2;
    width: 700px;
    height: auto;
    border-radius: 15px;
    padding: 20px;
    margin: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cartas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.infoTablero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100px;
    border:2px solid black;
}

.ganaste {
    position: absolute;
    top: 40px;
    right: 60px;
}

#play {
    position: absolute;
    right: 152px;
    bottom: 13px;
}

.ganaste p {
    font-size: 30px;
}